In [1]:
import os

In [2]:
os.dir

AttributeError: module 'os' has no attribute 'dir'

In [3]:
os.listdir()

['Untitled1.ipynb',
 'Untitled.ipynb',
 'supermarkets.json',
 'supermarkets.csv',
 'supermarkets-semi-colons.txt',
 'supermarkets.xlsx',
 '.ipynb_checkpoints',
 'supermarkets-commas.txt']

In [4]:
import pandas

In [17]:
df1 = pandas.read_csv('supermarkets.csv')

In [19]:
df1 = df1.set_index('Address')

In [20]:
df1

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [21]:
df1.loc['332 Hill St']

ID                          3
City            San Francisco
State        California 94114
Country                   USA
Name              Super River
Employees                  25
Name: 332 Hill St, dtype: object

In [22]:
list (df1.loc[:,'Country'])

['USA', 'USA', 'USA', 'USA', 'USA', 'USA']

In [24]:
df1.iloc[1:3,1:3]

                         City             State
Address
735 Dolores St  San Francisco          CA 94119
332 Hill St     San Francisco  California 94114